.dark-content {
    color: #ffe6e9;

    a {
        color: #89cff0;
    }

    a:hover {
        color: #bcfff3;
    }

    .body {
        background-color: #3a3a3a;

        .anchor {
            background-color: #3a3a3a;

            .ant-anchor-link-title {
                color: #ffb2c9;
            }

            .ant-anchor-link-active > .ant-anchor-link-title {
                background-color: #ffb2c9;
                border-radius: 10px;
                color: #3a3a3a;
            }

            .ant-anchor-link-title:hover {
                background-color: #ffb2c9;
                border-radius: 10px;
                color: #3a3a3a;
            }

            .dark-switch {
                p {
                    color: #ffb2c9;
                }

                .ant-switch {
                    .ant-switch-handle::before {
                        background: url("../../assets/images/uwumoon.png");
                        background-size: 100% 100%;
                        display: block;
                    }
                }
            }
        }

        #title {
            background-image: url("https://i.imgur.com/5lwNrUB.png");
            background-color: black;

            h1, h2, h3 {
                font-family: "Comic Sans MS", "Comic Sans";
                font-weight: bold;
                color: #ffb2c9;
                margin-bottom: 0;
            }
        }

        .body-flex {
            .body-container {
                #h1-title {
                    color: #ffb2c9;
                }

                #content-body {
                    background-color: #4a4a4a;

                    .ant-timeline {
                        color: #ffe6e9;

                        a {
                            color: #89cff0;
                        }

                        a:hover {
                            color: #bcfff3;
                        }
                    }

                    #orthography {
                        h2, h3 {
                            color: #ffb2c9;
                        }
                    }

                    #phonology {
                        h2 {
                            color: #ffb2c9;
                        }
                    }

                    #semantics {
                        h2 {
                            color: #ffb2c9;
                        }
                    }

                    #social-perception {
                        h2 {
                            color: #ffb2c9;
                        }
                    }
                }

                #background {
                    #background-body {
                        background-color: #4a4a4a;
                    }
                }

                #findings {
                    #findings-title {
                        a:link, a:visited, a:hover, a:active {
                            color: #ffb2c9;
                        }
                    }
                }
            }
        }
    }

}

.body {
    background-color: #ffd6d9;
    padding-bottom: 100px;

    .ant-anchor-ink {
        display: none;

        .ant-anchor-ink-ball {
            display: none;
        }
    }

    .anchor {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #ffd6d9;
        font-family: "Comic Sans MS", "Comic Sans";
        font-weight: bold;
        font-size: 24px;

        .dark-switch {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 5px 15px 15px;

            p {
                font-size: 16px;
                margin: 0;
            }

            .ant-switch {
                .ant-switch-handle::before {
                    background: url("../../assets/images/uwusun.png");
                    background-size: 100% 100%;
                    display: block;
                }
            }
        }

        .ant-anchor-link a {
            padding: 10px;
        }

        .ant-anchor-link-title {
            border-radius: 10px;
        }

        .ant-anchor-link-active > .ant-anchor-link-title {
            background-color: #3a3a3a;
            border-radius: 10px;
            color: #ffd6d9;
        }

        .ant-anchor-link-title:hover {
            background-color: #3a3a3a;
            border-radius: 10px;
            color: #ffd6d9;
        }
    }

    #title {
        text-align: center;
        font-size: 32px;
        padding: 30vh 0;
        background-image: url("https://i.imgur.com/5lwNrUB.png");
        background-size: cover;
        background-color: white;

        h1, h2, h3 {
            font-family: "Comic Sans MS", "Comic Sans";
            font-weight: bold;
            color: #ffb2c9;
            margin-bottom: 0;
        }
    }

    .body-flex {
        display: flex;
        flex-direction: column;
        align-items: center;

        .body-container {
            width: 80%;
            font-family: "Comic Sans MS", "Comic Sans", cursive;
            font-weight: bold;

            #h1-title {
                margin-bottom: -24px;
                transform: translateX(100px);
                font-weight: bold;
                font-size: 64px;
            }

            #content-body {
                background-color: white;
                padding: 20px 5px;
                border-radius: 20px;
                font-size: 24px;
                padding: 50px;

                h2, h3 {
                    font-weight: bold;
                }

                #orthography {
                    h3 {
                        text-decoration: underline;
                    }

                    img {
                        width: 75%;
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }

                #phonology {
                    li {
                        font-size: 28px;
                    }

                    img {
                        width: 75%;
                    }
                }

                #semantics {
                    img {
                        width: 75%;
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }

                #social-perception {
                    img {
                        width: 75%;
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }

            #background {
                padding: 100px 0px;

                #background-body {
                    background-color: white;
                    border-radius: 20px;
                    font-size: 24px;
                    padding: 50px;
                    display: flex;
                    flex-direction: row;

                    #background-body-images {
                        padding-left: 100px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 25px;

                        img {
                            height: 250px;
                        }
                    }
                }
            }

            #history {
                padding: 100px 0px;

                .ant-timeline-item-label {
                    font-size: 18px;
                }

                .ant-timeline-item-content {
                    font-size: 18px;
                }
            }

            #related-works {
                padding: 100px 0px;
            }

            #findings {
                padding: 100px 0px;

                #findings-title {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    justify-content: space-between;

                    a:link, a:visited, a:hover, a:active {
                        text-decoration: none;
                        color: black;
                    }

                    img {
                        transform: translateX(-100px);
                    }
                }
            }

            #future-work {
                padding: 100px 0px;
            }

            #references {
                padding: 100px 0px;

                a:link, a:visited, a:hover, a:active {
                    text-decoration: underline;
                }

                li {
                    padding-bottom: 20px;

                    span {
                        font-style: italic;
                    }
                }
            }
        }
    }
}