.body {
    background-color: #ffd6d9;

    .body-flex {
        display: flex;
        flex-direction: column;
        align-items: center;

        .body-container {
            width: 65%;

            #title h1, h2 {
                font-family: "Comic Sans MS", "Comic Sans", cursive;
                color: white;
                font-weight: bold;
                text-align: center;
            }
        }
    }
}