.body {
    background-color: #ffd6d9;
    padding-bottom: 100px;

    .ant-anchor-ink {
        display: none;

        .ant-anchor-ink-ball {
            display: none;
        }
    }

    .anchor {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #ffd6d9;
        font-family: "Comic Sans MS", "Comic Sans";
        font-weight: bold;
        font-size: 24px;

        .ant-anchor-link a {
            padding: 10px;
        }

        .ant-anchor-link-title {
            border-radius: 10px;
        }

        .ant-anchor-link-active > .ant-anchor-link-title {
            background-color: #3a3a3a;
            border-radius: 10px;
            color: #ffd6d9;
        }

        .ant-anchor-link-title:hover {
            background-color: #3a3a3a;
            border-radius: 10px;
            color: #ffd6d9;
        }
    }

    #title {
        text-align: center;
        font-size: 32px;
        padding: 30vh 0;
        background-image: url("https://i.imgur.com/5lwNrUB.png");
        background-size: cover;
        background-color: white;

        h1, h2, h3 {
            font-family: "Comic Sans MS", "Comic Sans";
            font-weight: bold;
            color: #ffb2c9;
            margin-bottom: 0;
        }
    }

    .body-flex {
        display: flex;
        flex-direction: column;
        align-items: center;

        .body-container {
            width: 80%;
            font-family: "Comic Sans MS", "Comic Sans", cursive;
            font-weight: bold;

            #h1-title {
                margin-bottom: -24px;
                transform: translateX(100px);
                font-weight: bold;
                font-size: 64px;
            }

            #content-body {
                background-color: white;
                padding: 20px 5px;
                border-radius: 20px;
                font-size: 24px;
                padding: 50px;

                h2, h3 {
                    font-weight: bold;
                }

                #orthography {
                    h3 {
                        text-decoration: underline;
                    }
                }

                #phonology {
                    li {
                        font-size: 28px;
                    }
                  
                    img {
                        width: 1000px;
                    }
                }
            }

            #background {
                padding: 100px 0px;

                #background-body {
                    background-color: white;
                    border-radius: 20px;
                    font-size: 24px;
                    padding: 50px;
                    display: flex;
                    flex-direction: row;

                    #background-body-images {
                        padding-left: 100px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 25px;

                        img {
                            height: 250px;
                        }
                    }
                }
            }

            #history {
                padding: 100px 0px;
            }

            #related-works {
                padding: 100px 0px;
            }

            #findings {
                padding: 100px 0px;

                #findings-title {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    justify-content: space-between;

                    img {
                        transform: translateX(-100px);
                    }
                }
            }

            #conclusion {
                padding: 100px 0px;
            }
        }
    }
}